
*{margin:0; padding:0; box-sizing:border-box;}
a{text-decoration:none; color:inherit;}
ul{list-style:none;}

body{
    width:100%;
    background-color:#f4f1e8;
    font-family:'Times New Roman';
    font-weight:normal;
    letter-spacing:1.5px;
    line-height:1.6;
    user-select:none;
    color:#666;
}
